PORT=8000
MONGODB_URI = mongodb+srv://jnvpriya5055:Gaurijnv1525@cluster0.035zmst.mongodb.net

CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = CHAI OR CODE

ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = CHAI OR BACKEND

REFRESH_TOKEN_EXPIRY = 10d
